{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {% assign index = forloop.index |  minus: 1 %}
  {% assign variant = product.variants[index] %}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: value.selected,
      visually_disabled: option_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset
    %}
  {%- elsif picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
      {{ input_dataset }}
    >
    <div class="label_wrapper">
      <label for="{{ input_id }}">
        <span class="value-label visually-hidden">
          {{ value -}}
        </span>
        {{ label_unavailable }} 
      </label>
      <div class="variant__header">
        <span class="variant__header-title">
          {{ value }}
        </span>
        <span class="variant__header-price">
          {% if variant.compare_at_price %}
            <span class="variant__compareprice">{{ variant.compare_at_price | money }}</span>
          {% endif %}
          <span class="variant__price">
            {{ variant.price | money }}
          </span>
        </span>
      </div>
      {% if variant.metafields.custom.most_popular %}
        <div class="variant__popular">
          {{ 'general.popular_tag' | t }}
        </div>
      {% endif %}
      {% assign allfeatures = variant.metafields.custom.variant_feature_list.value %}
      {% if allfeatures != blank %}
        <div class="variant__features">
          {% for varaintfeature in allfeatures %}
            {% if varaintfeature.feature != blank %}
              <div class="variant__feature variant__feature--{{ forloop.index }}">
                <div class="variant__feature-icon">
                  <img src="https://cdn.shopify.com/s/files/1/0702/3365/3476/files/Group_924.png?v=1725899159" alt="feature Icon" width="28" height="28">
                </div>
                <div class="variant__feature-title">
                  {{ varaintfeature.feature }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if variant.metafields.custom.variant_description %}
        <div class="variant__description">
          {{ variant.metafields.custom.variant_description | metafield_tag }}
        </div>
      {% endif %}

    </div>
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
